<div class="row clearfix" style="margin-top: 110px; padding-top:50px;  border-top:2px solid #737373; ">
    <div class="col-md-12" style="padding-left: 0px; padding-right: 0px;">
        <div class="container" style="width: 960px;">
            <footer>

                <!-- end of footer -->
                <div class="col-md-4" id="sample">
                    <a class="pull-right"><img src="../images/logo_small.png"></a>
                </div>
                <div class="col-md-8 pull-right" style="font-size: 11px;">
                    <p>
                        상호 : 메종 실내건축 인테리어| 대표 최홍인 | Mobile:010)5652-2663 | Tel:032)329-9811 | Fax:032)329-9809</p>

                    <p>주소 : [420-861] 경기도 부천시 원미구 길주로 77번길 19, 세진 프라자 503호</p>

                    <p>　　　(상동 532-16번지 세진 PLAZA 503호)
                    </p>
                    <address class="">
                        COPYRIGHT &copy; 2014 메종 실내건축 인테리어  ALL RIGHTS RESERVED
                    </address>
            </footer>

        </div>
    </div>
</div>
